@charset "utf-8";


@font-face {
  font-family: 'FOT-Rodin-Pro-EB';
  src: local('FOT-Rodin Pro EB'), local('FOT-Rodin-Pro-EB'),
  url('font/FOT-Rodin-Pro-EB.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Alien-Encounters-Regular';
  src: local('Alien Encounters Regular'), local('Alien-Encounters-Regular'),
  url('font/Alien-Encounters-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Audiowide';
  src: local('Audiowide'),
  url('font/Audiowide.ttf') format('truetype');
  font-display: swap;
}

html {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}


// -------------------------------------------------------
//* ---

$bg: #212121;
body {
  background-color: $bg;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; 
  background-image: url('img/aurora.jpg');
  background-position: center;
  background-size: cover;
  font-family: serif;
}

.splash-screen {
  font-family: 'Alien-Encounters-Regular';
  position: absolute;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.viewportLarge .title {
    top: 12vh; // portrait viewportLarge
  }
  &.landscape.viewportLarge .title {
    top: 8vh;
  }
  &.landscape.viewportLarge .image {
    margin-top: 8vh;
  }
  &.landscape .title {
    top: 5vh; 
    background-color: rgba(0, 229, 255, 0.3);
  }
  &.landscape .image {
    margin-top: 5vh; 
  }
  &.landscape .btnEnter {
    width: 35%; 
    background-color: rgba(0, 229, 255, 0.3); 
  }
  h1.title, .btnEnter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff90;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.1), 
    inset -1px -1px 1px rgba(255,255,255,0.05);
    border-radius: 25px;
  }
  h1.title {
    position: absolute;
    top: 8vh; 
    height: 10px;
    padding: 12px 10px 5px;
    font-size: 2em;
    transition: top .5s;
  }
  .image {
    width: 80%;
    height: 60%;
    background-image: url('img/loto7.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .8;
  }
  .btnEnter {
    position: relative;
    width: 65%; 
    height: 20px;
    padding: 22px 20px 10px;
    font-size: 4em;
    transition: scale .5s;
    &.active {
      scale: 1.2;
    }
  }
}

.container {
  position: relative;
  width: 100%; //*h SE100%
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  visibility: hidden; //*
  overflow: hidden; 
  .visual-container {
    width: 100%;
    &.portrait.largeViewport {
      padding-bottom: 25px;
    }
    &.landscape.viewportSmall {
      padding-bottom: 25px;
    }
    &.landscape.viewportLarge {
      padding-bottom: 40px;
    }
    .spacer {
      height: 1.5vh; 
      &.viewportSmall {
        height: 28px; 
      } 
      &.viewportLarge {
        height: 46px;
      }
    }
    .circle-container {
      width: 100%;
      margin: 0 auto;
      font-family: 'FOT-Rodin-Pro-EB';
      display: flex;
      justify-content: center;
      &.viewportLarge .circle,
      &.viewportLarge .dummy {
        aspect-ratio: 2/1.25; //*lvh
      }
      .circle {
        background-color: rgba(255,255,255,0.1);
        box-shadow: inset 1px 1px 1px rgba(255,255,255,0.1), 
        inset -1px -1px 1px rgba(255,255,255,0.05);
        padding-top: 3px; //*>
      }
      .circle, .dummy {
        position: relative;
        width: 17vw;
        aspect-ratio: 2/1; //*svh
        max-width: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em; 
        color: #ffffffcc;
        padding-bottom: 3px; 
        z-index: 1;
        margin: 3px;
        &.landscape {
          width: initial;
          max-width: initial;
          height: initial;
          font-size: initial;
          width: 25vw;
          max-width: 70px;
          aspect-ratio: 1;
          border-radius: 50px;
          margin: initial;
          padding-top: 5px; //*>
        }
        &.activeCircle.landscape {
          font-size: 34px; 
        }
        &.activeCircle.landscape.adjusted {
          padding-right: 3px;
        }
        &.activeCircle {
          font-size: 24px; 
          color: #212121;
          -webkit-text-stroke: 3px #fff;
          paint-order: stroke;
        }
        &.activeCircle.selected {
          z-index: 100;
        }
        &.activeCircle.selected::before {
          content: '';
          z-index: 1;
          position: absolute;
          width: 16vw;
          height: 5vh;
          box-shadow: 0 0 0 .8vw #0f0; 
          border-radius: 3px;
        }
        &.activeCircle.largeViewport.selected::before {
          height: 6vh;
        }
        &.activeCircle.landscape.selected::before {
          width: initial;
          max-width: initial;
          height: initial;
          content: '';
          z-index: 1;
          position: absolute;
          box-shadow: 0 0 0 .8vw #0f0; 
          border-radius: 3px;
          width: 75px;
          aspect-ratio: 1;
          margin-top: -2px;
        }
        &.ones {
          background-color: #FF6F0099;
        }
        &.tens {
          background-color: #00B2FF99;
        }
        &.twenties {
          background-color: #ffd00099;
        }
        &.thirties {
          background-color: #c14fff99;
        }
      }
      .jackpot-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        &.landscape {
          flex-direction: row;
          gap: 1.5vw;
        }
      }
      .ones {
        .circle {
          &.activeCircle:not(.landscape) {
            background-color: #FF6F0099;
          }
        }
      }
      .tens {
        .circle {
          &.activeCircle {
            background-color: #00B2FF99;
          }
        }
      }
      .twenties {
        .circle {
          &.activeCircle {
            background-color: #ffd00099;
          }
          
        }
      }
      .thirties {
        .circle {
          &.activeCircle {
            background-color: #c14fff99;
          }
          
        }
      }
    }
  }
  .control-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    &.active .btnSet-wpr .icon {
      position: absolute;
      right: -10px;
      top: 60px;
    }
    &.active .btnSelect-wpr {
      width: 100%;
      justify-content: space-between;
      margin-bottom: initial;
    }
    &.active .counter-wpr {
      .counter {
        margin-top: -40px; 
      }
    }
    &.viewportLarge .btnSelect-wpr {
      margin-bottom: 20px;
    }
    .wpr {
      display: flex;
      margin: 5px 0;
      .box {
        font-family: 'Alien-Encounters-Regular';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 35px;
        font-size: 1.2em;
        margin: 0 3px;
        color: #ffffff33;
        background-color: rgba(255,255,255,0.1);
        box-shadow: inset 1px 1px 1px rgba(255,255,255,0.2), 
        inset -1px -1px 1px rgba(255,255,255,0.1);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        &.activate {
          color: #ffffffb3;
        }
      }
      .counter {
        font-family: 'FOT-Rodin-Pro-EB';
        color: #ffffffcc;
        box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 
        inset -1px -1px 1px rgba(255,255,255,0.3);
        &.active {
          color: #fff;
          font-size: 30px;
          border: 6px solid #00ff00;
        }
        &.inactive {
          color: #ffffff33;
        }
      }
      .btnManual {
        height: 50px;
        background-color: #00aaffb3;
        font-size: 25px;
        padding-bottom: 3px;
        color: #00FF00;
        &.inactive {
          color: #00FF0033;
          background-color: rgba(255,255,255,0.1);
          backdrop-filter: blur(3px);
        }
        &.selected {
          color: #ffff00cc;
          border: 6px solid #0f0;
          box-shadow: initial;
        }
        .star {
          &.animate {
            animation: animate 1s linear infinite;
          }
        }
      }
      .btnSelect {
        font-size: 1.9em;
        width: 150px;
        height: 45px;
        margin: 5px 5px 10px;
        padding: 7px 0 0 1px;
        letter-spacing: 1px;
        &:nth-of-type(2) {
          font-size: 2em;
          padding-left: 5px;
        }
      }
      //* -------------------------------

      .btnReset {
        width: 100px;
        font-size: 1.4em;
        padding: 5px 0 0 1px;
        &.activate {
          background-color: #af71ffb3;
        }
      }
      .btnQp {
        background-color: #af71ffb3;
        color: #ffffffb3;
        font-size: 1.4em;
        padding: 6px 0 0 2px;
        animation: animateQp 2s linear infinite;
        &.inactivate {
          color: #ffffff33;
          background-color: rgba(255,255,255,0.1);
          animation: initial;
        }
      }

      .btnChange {
        position: relative;
        &.activate {
          background-color: #fa2b2b7d;
          color: #ffffffb3;
        }
        &.swapBgColor {
          background-color: transparent;
          border: 5px solid #00ff00;
          animation: animate 1s linear infinite;
        }
        &.arrowAppear.single::before {
          content: '\f30c';
          font-size: 25px;
        }
        &.arrowAppear::before {
          content: '\f30b';
          font-family: "font awesome 6 free";
          font-weight: bold; //*> absolute
          z-index: 1;
          position: absolute;
          inset: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #0f0;
        }
      }
      .btnSubmit {
        &.activate {
          background-color: #26ff0080;
        }
      }
    }
    .btnSet-wpr {
      position: relative;
      width: 97%;
      justify-content: space-between;
      margin-top: 10px;
      .icon {
        display: flex;
        width: max-content;
        position: relative;
        .btnDownload, .btnUpload {
          position: relative;
          font-size: 25px;
          width: 50px;
          aspect-ratio: 1;
          padding-top: 1px;
          margin: 0 10px;
          transition: 0s;
          .iconUpload.fa-xmark {
            font-size: 35px;
            -webkit-text-stroke: 3px;
            paint-order: stroke;
            border-radius: 10px;
          }
        }
      }
    }
  }
}  

.btnDelete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  aspect-ratio: 1;
  background-color: #333333b3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff000080;
  font-size: 60px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  &.active {
    pointer-events: all;
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateQp {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}










































